/*
!.gitignore

!ComposerCreateProject
!Deployer
!DeployerSfLe3
!DeployerSfGe4
!Ez
!GitlabCIProject
!PhpCsFixer
!PhpMd
!Symfony
!WfDevEnvironment
!WfExtension
!WfExtensionRecipe
!WfExtensionWizard
!WfPhpDevEnvironment
!WfSymfonyEnvironment
